<p>formulario-laboratorio en contrucción!</p>
<!--Navigator-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Formulario para solicitud de laboratorios Universidad Libre</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<!--Calendario-->
<div>
    <ul>
        <mat-form-field color="accent">
            <mat-label>Fecha de solicitud</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
            
        <mat-form-field color="accent">
            <mat-label>Fecha programada</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

        <!--Input solicitud-->
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Numero solicitud" value="1234">
        </mat-form-field>
    </ul>  
    <ul>
        <!--Autocomplete laboratorios-->
        <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Laboratorios" aria-label="Number" matInput [formControl]="myLaboratorio" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let laboratori of laborato" [value]="laboratori.name_laboratorio">
            {{laboratori.name_laboratorio}}
            </mat-option>
        </mat-autocomplete>
      
        <!--Autocomplete asignaturas-->
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Asignaturas" aria-label="Number" matInput [formControl]="myAsignatura" [matAutocomplete]="auto1">
          <!-- {{asignatura | json}}   -->
        </mat-form-field>
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let asignatura of asignatura" [value]="asignatura.name_asignatura">
            {{asignatura.name_asignatura}}
          </mat-option>
        </mat-autocomplete>
        </form>      
    </ul>
    <ul>
        <!--Autocomplete docente-->
        <form class="example-form1">
          <mat-form-field class="example-full-width">
              <input type="text" placeholder="Docentes" aria-label="Number" matInput [formControl]="myDocente" [matAutocomplete]="auto2">
          </mat-form-field>
          <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let docente of docentes" [value]="docente.name_docente">
              {{Docente}}
              </mat-option>
          </mat-autocomplete>

          <!--Input nombre practica-->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre practica" >
          </mat-form-field>
        
          <!--Autocomplete facultad-->
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Facultad" aria-label="Number" matInput [formControl]="myAsignatura" [matAutocomplete]="auto4">
          </mat-form-field>
          <mat-autocomplete #auto4="matAutocomplete">
            <mat-option *ngFor="let asignatura of asignatura" [value]="asignatura.facultad">
              {{asignatura.facultad}}
            </mat-option>
          </mat-autocomplete>
          </form>   
    </ul>
    <ul>
      <!--Check box varias preguntas-->
      <section class="example-section">
        
        <h3 class="example-h2">A.</h3><h5 class="example-h2">La solicitud tiene guia de laboratorio</h5>
        <div class = "box1">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Si</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">No</mat-checkbox></div>
      </section> 
      <section class="example-section">
        <h3 class="example-h2">B.</h3><h5 class="example-h2">Requiere el uso del laboratorio</h5>
        <div class = "box2">
        <mat-checkbox class="example-margin" [(ngModel)]="checked1">Si</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate1">No</mat-checkbox></div>
      </section> 
      <section class="example-section">
        <h3 class="example-h2">C.</h3><h5 class="example-h2">Requiere la asistencia del auxiliar de laboratorio</h5>
        <div class = "box3">
        <mat-checkbox class="example-margin" [(ngModel)]="checked2">Si</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate2">No</mat-checkbox></div>
        </section>
      <section class="example-section">
        <h3 class="example-h2">D.</h3><h5 class="example-h2">Utiliza maquinas, equipo o herramientas</h5>
        <mat-checkbox class="example-margin" [(ngModel)]="checked3">Si</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate3">No</mat-checkbox>
        <mat-form-field class="example-full-width1">
          <textarea matInput placeholder="Cantidad - descripcion"></textarea>
        </mat-form-field>
      </section>
      <section class="example-section">
        <h3 class="example-h2">E.</h3><h5 class="example-h2">Utiliza material de consumo</h5>
        <mat-checkbox class="example-margin" [(ngModel)]="checked4">Si</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate4">No</mat-checkbox>
        <mat-form-field class="example-full-width1">
          <textarea matInput placeholder="Cantidad - descripcion"></textarea>
        </mat-form-field>
      </section>
      <!--Input   numero estudiantes en la practica-->
      <section class="example-section">    
        <h3 class="example-h2">F.</h3><h5 class="example-h2">Cantidad de estudiantes en la practica</h5>   
        <mat-form-field class="example-full-width2">
          <input matInput placeholder="numero" >
        </mat-form-field>
      </section>           
    </ul>
    <ul>
      <section class="example-section">
        <mat-form-field class="example-full-width1">
          <input matInput placeholder="Entrega" >
        </mat-form-field>  
        <mat-form-field class="example-full-width1">
          <textarea matInput placeholder="Recibe"></textarea>
        </mat-form-field>
      </section>
    </ul>     
    <ul>
        <h5 class="example-h3">Cargo: Auxiliar de laboratorio</h5> 
        <mat-form-field class="example-full-width1">
            <textarea matInput placeholder="Observaciones"></textarea>
          </mat-form-field>
        <section class="example-section">
          <h5 class="example-h2">Material pendiente de reponer</h5>
          <mat-checkbox class="example-margin" [(ngModel)]="checked5">Si</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate5">No</mat-checkbox>
        </section> 

        <!--Input hora entrada-->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hora entrada" >
        </mat-form-field>
        <!--Input hora salida-->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hora salida" >
        </mat-form-field>
    </ul>
    <ul>
      <!--Input firma docente-->
      
      <mat-form-field class="example-full-width">
          <input matInput placeholder="" >
        </mat-form-field>       
        <!--Input firma docente2-->
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="" >
        </mat-form-field>
        <section class="example-section">
        <h5 class="example-h4">Firma docente</h5>
        <h5 class="example-h4">Firma docente</h5>
      </section>

    </ul>
    
    
    
</div>