.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023436;
    flex-direction: column;
}
.titulo{
    color: #1E70D3
}
mat-card{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAF5FF;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_container{
    text-align: center;
}
.full-width{
    width: 100%;
}
.btn{
    width: 80%;
    display: flex;
    justify-content: space-between;
}