<div class="containerGlobal">
    <div class="container">
        <h2 class="titulo">Facultades actuales U. Libre</h2>
        <table mat-table [dataSource]="facultad" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre Asignatura </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="ubicacion">
                <th mat-header-cell *matHeaderCellDef> Ubicación Sede </th>
                <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="tr1" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="container2">
        <div class="titulo">
            <h2>Crear una facultad:</h2>
        </div>
        <mat-card>
            <form class="form" [formGroup]="form" (ngSubmit)="InsertarFacultad()">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre de la facultad" formControlName="name">
                    <mat-error *ngIf="form.get('name').hasError('required')">
                        Los campos son requeridos
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Ubicación" formControlName="ubicacion">
                    <mat-error *ngIf="form.get('ubicacion').hasError('required')">
                        El campo es requerido
                    </mat-error>
                </mat-form-field>
                <div class="btn">
                    <button mat-raised-button color="primary" type="submit">Crear Facultad</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>